.whoami { 
	position: relative;
	text-align: center;
}

.innerscope {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}
.innerscope2 {
	margin-left: 4%;
	margin-right: 18%;
}

.innerscope3 {
	margin-left: 1%;
}
